NODE_ENV='development'
PORT=5000
DB_URL=mongodb://127.0.0.1:27017/codex_clone


FRONT_APP_URL=vscode://local-dev.wiz-engineer/auth-complete


GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
CALL_BACK_URL=http://localhost:5000/auth/github/callback

COOKIE_KEY=


FIRE_WORKS_API_KEY=


# embedding model
# https://dashboard.cohere.com/
COHERE_API_KEY=


# pinecone vector db
PINECONE_API_KEY=
PINECONE_INDEX=
# Optional
PINECONE_ENVIRONMENT=


COHERE_EMBED_MODEL=embed-english-v3.0

PINECONE_INDEX_HOST=
PINECONE_NAMESPACE=

OPENAI_API_KEY=

MAX_TOOL_READS_PER_TURN=20
MAX_TOOL_WRITES_PER_TURN=20
